name: LintAndTest

on: [push]

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "${{matrix.python-version}}"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff mypy
    - name: Ruff check
      run: ruff check .
    - name: MyPy check
      run: mypy .

  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "${{matrix.python-version}}"
    - name: Run tests
      run: python evaluator.py
